{load href="__JS__/jquery.validate.min.js,__JS__/messages_zh.js"}
{load href="__JS__/form_validate.js"}

    <div id="sub-nav"><div class="page-title">

        <h1>用户添加</h1>

        <span></span>

    </div>

    </div>

    <div id="page-layout"><div id="page-content">

        <div id="page-content-wrapper" style="padding:10px 10px 10px 10px; background:#f2f2f2;">


            <div class="content-box" style="height:600px">

                <div class="two-column">
                    <div class="column-content-box">
                        <br />
                        <!--<form class="content-box blue-box">-->

                            <form  action="{:url('user/useradd')}" method="post" id="register">

                                <fieldset>

                                    <ul>
                                        <li>
                                            <label class="desc" for="firstname">用户名：</label>

                                            <div><input type='text' name="username" id="username" style=" width:300px; height:22px; border:1px solid #b9b9ba;" >&nbsp;<font id="repraceuser" color="red">*</font>
                                            </div>

                                        </li>

                                        <li>

                                            <label class="desc" for="firstname">手机号码：</label>

                                            <div><input type='text' name="phone" id="phone" maxlength="30" value="" style=" width:300px; height:22px; border:1px solid #b9b9ba;" >&nbsp;<font color="red">*</font></div>

                                        </li>

                                        <li>

                                            <label class="desc" for="firstname">密码：</label>

                                            <div><input name="password" type="password" id="password" style="width:300px;height:22px;border:1px solid #b9b9ba;"  id="password" height="29">&nbsp;<font color="red">*</font>(6-20位)</div>

                                        </li>

                                        <li>

                                            <label class="desc" for="firstname">确认密码：</label>

                                            <div><input name="confirm_password" type="password" id="confirm_password" style="width:300px; height:22px; border:1px solid #b9b9ba;">&nbsp;<font color="red">*</font></div>

                                        </li>

                                        <li>

                                            &nbsp;&nbsp;&nbsp;&nbsp; <input id="vn" class="ui-state-default ui-corner-all ui-button" type="submit" value="确 定">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button  class="ui-state-default ui-corner-all ui-button" onclick="javascript:history.go(-1);" type="button"> 取 消 </button>

                                        </li>


                                    </ul>

                                </fieldset>

                            </form>
                        <!--</form>-->

                        </div>


                    </div>

                </div>
            </div>

        </div>

    </div>

