<script type="text/javascript">

function del(id)
{
	var id_val = id;
	var con = confirm("确定删除吗?");
	var url = "{:url('user/ajaxuserdelete')}";
	if(con){
		$.post(url,{'id_val':id},function(e){
			if(e.status == 0){
			window.location.href = "{:url('user/userlist')}";
				alert(e.message);
			}else{
				alert(e.message);
			}

		},"json");
	}
}

var ajax_page = function(page){
	$.ajax({
		url:"{:url('ajaxlist')}",
		type:'get',
		dataType:'json',
		data: {page:page},
		success:function(data){
			var rows = data.rowset.data;//必须这么写
			var html = "";
			for(key in rows) {
				html+="<tr bgcolor='#ffffff'><td >"+rows[key].id+"</td><td>"+
				rows[key].username+
				
				"</td><td>"+rows[key].name+
				"</td><td>"+rows[key].create_time+
				"</td>";
				if (rows[key].username != 'admin')
					html+="<td onclick=\"del("+rows[key].id+")\" >删除</td>";
				else 
					html+="<td>&nbsp;</td>";

				html+="</tr>";
			}
			$(".user-list").html(html);
			$("#page-display").html(data.page);
		}
	});
}


</script>


    <div id="sub-nav"><div class="page-title">
        <h1>用户管理</h1>

        <span></span>
    </div></div>
    <div id="page-layout">
        <div id="page-content">
            <div id="page-content-wrapper">

                <form action="{:url()}" method="GET">
					用户名：<input type="text" name="username" value="{$Request.param.username|default=''}"><button class="ui-state-default ui-corner-all ui-button" type="submit" >确定</button>

                    <button class="ui-state-default ui-corner-all ui-button float-right" id="add_user" type="button" >添加用户</button>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="hastable">
                        <table cellspacing="0">
                            <thead>
                            <tr>
                                <th width="10%">id</th>
                                <th width="20%">用户名</th>
                                <th width="20%">姓名</th>
                                <!--<th width="15%">手机号码</th>-->
                                <!--<th width="20%"></th>-->
                                <!--<th width="25%">邮箱<a href='?sub1nav=user&subpolice=&order=unitAC&JYBH=&JYXM='><img src="../assets/images/down.gif"/></a></th>-->
                                <!--<th width="15%">手机号码</th>-->
                                <th width="40%">创建时间<a href='?sub1nav=user&subpolice=&order=dateAC&JYBH=&JYXM='></a></th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody class="user-list">`
                            {foreach $res as $val}
                            <tr bgcolor= #ffffff >
                                <td >{$val['id']}</td>
                                <td>{$val['username']}</td>
                                <td>{$val['name']}</td>
                                <td>{$val['create_time']}</td>
								{if $val.username != 'admin'}
                                <td  onclick="del({$val['id']})" >删除</td>
								{else /}
								<td>&nbsp;</td>
								{/if}
                                <!--<td id="del"></td>-->
                            </tr>
                            {/foreach}

                            </tbody>
                        </table>

                        <div class="clear"></div>
						
						
                        <div style="height:100px;"></div>

                        <br /><br />
                    </div>
                    <div class="clear"></div>
                    <div id="sidebar">

                        

                    </div>

                    <div class="clear"></div>
					</form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
	<div id="page-display">{$res->render()|raw}</div>
    <div class="clear"></div>


<script type="text/javascript">
/////////////////////////////////mike暂时用这个方法关闭右边的栏目
$(function(){
	$("#sidebar").addClass('closed-sidebar').animate({"speed":"1500"});
	//$("#sidebar").animate("speed",500);
	$("#page_wrapper #page-content #page-content-wrapper").addClass("no-bg-image wrapper-full");
	//$("#open_sidebar").show();
	$("#close_sidebar, .hide_sidebar").hide();

	$("#add_user").click(function() {
		window.location.href = "{:url('user/useradd')}";
	})
})

</script>
