
    <script type="text/javascript">
    $(function() {
        $("#vn").click(function () {
            var txt = '';

            if ($.trim($("#username").val()) == '') {
                var txt = '用户名不能为空';
                alert(txt);
                return false;
            }


            if ($.trim($("#adminuser").val()) == '') {
                var txt = '姓名不能为空';
                alert(txt);
                return false;
            }


            if ($.trim($("#password").val()) == '') {
                var txt = '密码不能为空';
                alert(txt);
                return false;
            }

            if ($.trim($("#password").val()).length < 6 || $.trim($("#password").val()).length > 13) {
                var txt = '密码长度必须6-12位';
                alert(txt);
                return false;

            }

            if ($.trim($("#password2").val()) == '') {
                var txt = '请重复密码输入';
                alert(txt);
                return false;
            }


            if ($.trim($("#password").val()) !== $.trim($("#password2").val())) {
                var txt = '两次输入的密码不一致';
                alert(txt);
                return false;
            }
        })

    })

    </script>
    <div id="sub-nav"><div class="page-title">

        <h1>　用户添加</h1>

        <span></span>

    </div>

    </div>

    <div id="page-layout"><div id="page-content">

        <div id="page-content-wrapper" style="padding:10px 10px 10px 10px; background:#f2f2f2;">


            <div class="content-box" style="height:600px">

                <div class="two-column">
                    <div class="column-content-box">
                        <br />
                        <!--<form class="content-box blue-box">-->

                            <form  action="{:url('user/useradd')}" method="post" >
                                <!--name="form1"-->
                                <!--onsubmit="return check();-->
                                <fieldset>

                                    <ul>
                                        <li>
                                            <label class="desc" for="firstname">用户名：</label>

                                            <div><input type='text' name="username" id="username" value="" style=" width:300px; height:22px; border:1px solid #b9b9ba;" maxlength="12">&nbsp;<font id="repraceuser" color="red">*</font>
                                            </div>

                                        </li>

                                        <li>

                                            <label class="desc" for="firstname">姓名：</label>

                                            <div><input type='text' name="adminuser" id="adminuser" maxlength="30" value="" style=" width:300px; height:22px; border:1px solid #b9b9ba;" >&nbsp;<font color="red">*</font></div>

                                        </li>

                                        <li>

                                            <label class="desc" for="firstname">密码：</label>

                                            <div><input name="password" type="password" id="password" style="width:300px;height:22px;border:1px solid #b9b9ba;"  id="password" height="29" maxlength="12">&nbsp;<font color="red">*</font>(6-12位)</div>

                                        </li>

                                        <li>

                                            <label class="desc" for="firstname">确认密码：</label>

                                            <div><input name="password2" type="password" id="password2" style="width:300px; height:22px; border:1px solid #b9b9ba;" maxlength="12">&nbsp;<font color="red">*</font></div>

                                        </li>

                                        <!--<li>-->

                                            <!--<label class="desc" for="firstname">手机：</label>-->

                                            <!--<div><input name="mobile" type="text" id="mobile" style="width:300px; height:22px; border:1px solid #b9b9ba;" maxlength="18"></div>-->

                                        <!--</li>-->

                                        <!--<li>-->

                                            <!--<label class="desc" for="firstname">单位：</label>-->
                                            <!--<div><input name="company" id="TreeViewPopup" readonly type="text"  style="width:300px; height:22px; border:1px solid #b9b9ba;" maxlength="50" class="Wdate_unit"  onfocus="javascript:show_iframe('iframe_unit.php');"><input type="hidden" id="h_company" name="h_company">&nbsp;<font color="red">*</font></div>-->

                                        <!--</li>-->

                                        <!--<li>-->

                                            <!--<label class="desc" for="firstname">联系方式：</label>-->

                                            <!--<div><input name="mobilehone" type="text" style="width:300px; height:22px; border:1px solid #b9b9ba;" maxlength="11"></div>-->

                                        <!--</li>-->

                                        <!--<li>-->

                                            <!--<label class="desc" for="firstname">角色：</label>-->

                                            <!--<div><input type="text" tabindex="1" readonly maxlength="255" value="" id="role" class="Wdate_role" name="role"  style="width:300px; height:22px; border:1px solid #b9b9ba;" onfocus="javascript:show_iframe('iframe_role.php');"/>&nbsp;<font color="red">*</font><input type="hidden" id="h_role" name="h_role"></div>-->

                                        <!--</li>-->

                                        <li>

                                            &nbsp;&nbsp;&nbsp;&nbsp; <input id="vn" class="ui-state-default ui-corner-all ui-button" type="submit" value="确 定">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button  class="ui-state-default ui-corner-all ui-button" onclick="javascript:history.go(-1);" type="button"> 取 消 </button>

                                        </li>


                                    </ul>

                                </fieldset>

                            </form>
                        <!--</form>-->

                        </div>


                    </div>


                    <!--<div class="column-content-box column-right" style="background:url(../assets/images/yh.jpg)">-->
                        <!--<img src="../assets/images/yh.jpg" width="508" height="506" />-->

                    <!--</div>-->
                </div>
            </div>

        </div>

    </div>

