<!DOCTYPE html>
<html>
<head>
	<meta charset="{$Think.config.site.meta_charset}">
	<title>{$Think.config.site.title}</title>

	<script type="text/javascript">var base_path="__CSS__";</script>
	{load href="__JS__/jquery-1.8.3.min.js,__JS__/core.js,__JS__/jquery-ui.min.js,__JS__/ui/ui.widget.js,__JS__/ui/ui.mouse.js,__JS__/superfish.js,__JS__/live_search.js,__JS__/tooltip.js,__JS__/cookie.js,__JS__/ui/ui.sortable.js,__JS__/ui/ui.draggable.js,__JS__/ui/ui.resizable.js,__JS__/ui/ui.position.js,__JS__/ui/ui.button.js,__JS__/ui/ui.dialog.js,__JS__/custom.js"}
	
	{load href="__CSS__/colorbox.css,__CSS__/ui/ui.base.css"}
	<link href="__CSS__/themes/black_rose/ui.css" rel="stylesheet" title="style" media="all" />
	{// 上面这句单独写，因为改变theme的时候需要用到上面的title=style这个dom}

</head>

<body>
	<div id="page_wrapper">