		<div id="sidebar">

			<div class="sidebar-content">

				<a id="close_sidebar" class="btn ui-state-default full-link ui-corner-all" >

					<span class="ui-icon ui-icon-circle-arrow-e"></span>

					收起

				</a>

				<a id="open_sidebar" class="btn tooltip ui-state-default full-link icon-only ui-corner-all" title="Open Sidebar" ><span class="ui-icon ui-icon-circle-arrow-w"></span></a>

				<div class="hide_sidebar">

					<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">

						<div class="portlet-header ui-widget-header">更换显示效果<span class="ui-icon ui-icon-circle-arrow-s"></span></div>

						<div class="portlet-content">

							<ul id="style-switcher" class="side-menu">

								<li>

									<a class="set_theme" id="black_rose" href="#" title="Black Rose Theme">玫瑰黑</a>

								</li>

								<li>

									<a class="set_theme" id="gray_standard" href="#" title="Gray Standard Theme">标准灰</a>

								</li>

								<li>

									<a class="set_theme" id="gray_lightness" href="#" title="Gray Lightness Theme">钛晶灰</a>

								</li>

								<li>

									<a class="set_theme" id="apple_pie" href="#" title="Apple Pie Theme">苹果派</a>

								</li>

								<li>

									<a class="set_theme" id="blueberry" href="#" title="Blueberry Theme">蓝莓蓝</a>

								</li>
								<li>
									<a class="set_theme" id="blue_sky" href="#" title="BlueSky Theme">蓝色天空</a> </li>
								<li> 
									<a class="set_theme" id="salmon" href="#" title="Salmon  Theme">橙红主题</a>
								</li>
								<li>
									<a class="set_theme" id="turquoise" href="#" title="Turquoise Theme">青绿主题</a>
								</li>

							</ul>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="clear"></div>