		<div id="sidebar">

			<div class="sidebar-content">

				<a id="close_sidebar" class="btn ui-state-default full-link ui-corner-all" >

					<span class="ui-icon ui-icon-circle-arrow-e"></span>
					收起
				</a>

				<a id="open_sidebar" class="btn tooltip ui-state-default full-link icon-only ui-corner-all" title="展开" ><span class="ui-icon ui-icon-circle-arrow-w"></span></a>

				<div class="hide_sidebar">

					<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-content">
            
                        <div class="box ui-widget ui-widget-content ui-corner-all">

							<h3 align="center">监控预览</h3>

							<div class="content">

								<fieldset>

									<ul>

										<li>

											<label class="desc" for="firstname">监控设备代号：</label>
											<div>
											<input type="text" name="imei" value="{$Request.param.imei}" placeholder="请输入代号" style="margin-right: 10px; width:138px; height:23px; border:1px solid #b9b9ba;"/>
											</div>
										</li>

										<li>
											<label class="desc" for="lastname">采集开始时间：</label>

											<div><input id="d4311" class="Wdate" name='begin' value="{$Request.param.begin|default=''}" placeholder="请选择开始时间" type="text" onFocus="WdatePicker({doubleCalendar:true,dateFmt:'yyyy-MM-dd HH:mm',maxDate:'#F{ $dp.$D(\'d4312\')||\'3020-10-01\'}'})"  value="" style="width:138px;height:27px;border:1px solid #b9b9ba;"/></div>
                                         </li>

										<li>
                                            <label class="desc" for="username">采集结束时间：</label>
											<div><input id="d4312" class="Wdate" name='end' type="text"  value="{$Request.param.end|default=''}" placeholder="请选择结束时间" onFocus="WdatePicker({doubleCalendar:true,dateFmt:'yyyy-MM-dd HH:mm',minDate:'#F{ $dp.$D(\'d4311\')}',maxDate:'3020-10-01'})" value="" style="width:138px;height:27px;border:1px solid #b9b9ba;"/></div>
										</li>
									</ul>
								</fieldset>
                            <button class="ui-state-default ui-corner-all ui-button" type="button" onclick="javasciript:js_reset('search')">重置</button>&nbsp;&nbsp;
							<button name="submit" class="ui-state-default ui-corner-all ui-button" type="submit">查询</button>
							</div></div>
						</div>

					</div>	

				</div>

			</div>

		</div>

		<div class="clear"></div>