		<div id="sidebar">

			<div class="sidebar-content">

				<a id="close_sidebar" class="btn ui-state-default full-link ui-corner-all" >

					<span class="ui-icon ui-icon-circle-arrow-e"></span>
					收起
				</a>

				<a id="open_sidebar" class="btn tooltip ui-state-default full-link icon-only ui-corner-all" title="展开" ><span class="ui-icon ui-icon-circle-arrow-w"></span></a>

				<div class="hide_sidebar">

					<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
                    
						<div class="portlet-content">
						<b>请稍后，设备准备中......</b>
						<script type="text/javascript">
							device_alive("{:url('alivedevice')}");
						</script>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="clear"></div>